.block {
  font-size: 12px;
  display: flex;
  flex-shrink: 0;
  padding: 50px 25px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  &:after {
    content: " ";
    width: 28%;
    margin: 0 auto;
    margin-top: 50px;
    border-bottom: 1px solid #ece8e8;
  }
}

.block_text {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.block_label_title {
  display: inline-block;
  & + & {
    margin-left: 5px;
  }
}

.block_image {
  width: 200px;
  height: 250px;
  flex-shrink: 0;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block_read_more {
  width: 100%;
}

.post_at {
  margin-bottom: 15px;
}

@media only screen and (max-width: 660px) {
  .block {
    padding: 0px;
    margin-bottom: 25px;
    margin-top: 0;
    width: 100%;
    &:after {
      display: none;
    }
  }

  .block_text {
    width: auto;
    flex: 1;
    max-width: 250px;
  }

  .block_read_more {
    display: none;
  }

  .block_label_title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  .block_image {
    width: 200px;
  }
}

@media only screen and (max-width: 440px) {
  .block_label_title {
    font-size: 10px;
  }
  .block_image {
    width: 150px;
  }
}

@media only screen and (max-width: 380px) {
  .block_image {
    width: 100px;
  }
}

@media only screen and (max-width: 340px) {
  .block_text {
    max-width: initial;
  }
  .block_image {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .block:after {
    border-color: #545454;
  }
}
