body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, PingFang SC,
    Hiragino Sans GB, Noto Sans CJK SC, Microsoft YaHei, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

a {
  color: #1890ff;
  background-color: initial;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
