.modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
  &.show {
    display: flex;
  }
}

.modal_container {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 95vh;
    max-width: 95vw;
    display: block;
  }
}
